*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
nav{
    height: 40px;
    width: 100%;
    background-color: gray;
    gap: 50px;
    display: flex;
}
nav h2{
    margin-top: 10PX;
    font-size: 15px;
    color: azure;
}
main img{
    background-color: #000;
    width: 100%;
    height: 670px;
    object-fit: contain;
}
b .child{
    width: 100%;
    height: 100vh;
    background-color: black;
}